<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>All of the Events</h3>
<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> Activity type</th>
        <th> Registered</th>
        <th> Creator</th>
        <th> Status</th>
        <th> Enable/Disable</th>
        <th> Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${allActivities}">
        <td><span th:text="${event.getName()}"> Title </span></td>
        <td><span th:text="${event.getActivityName()}"> Author </span></td>
        <td><span th:text="${event.getRegistered().size()}"> Author </span></td>
        <td><span th:text="${event.getCreatorName()}"> Author </span></td>
        <td>
            <span th:if="${event.getOpen()}" th:text="OPEN"></span>
            <span th:unless="${event.getOpen()}" th:text="CANCELLED"></span>
        </td>
        <td>
            <span th:if="${event.getOpen()}"><a th:href="@{/cancel(id=${event.getId()})}">Cancel</a></span>
            <span th:unless="${event.getOpen()}"><a th:href="@{/open(id=${event.getId()})}">Active</a></span>
        </td>
        <td><a th:href="@{/event(id=${event.getId()})}">Details</a></td>
    </tr>
    </tbody>
</table>
<h3>All of the Users</h3>
<table>
    <thead>
    <tr>
        <th> User</th>
        <th> Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sporstman : ${allUsers}">
        <td><span th:text="${sporstman.getName()}"> Title </span></td>
        <td>
            <span th:if="${sporstman.getBlocked()}" th:text="BLOCKED"></span>
            <span th:unless="${sporstman.getBlocked()}" th:text="Active"></span>
        </td>
        <td>
            <span th:if="${sporstman.getBlocked()}"><a
                    th:href="@{/user/unblock(id=${sporstman.getId()})}">Unblock</a></span>
            <span th:unless="${sporstman.getBlocked()}"><a
                    th:href="@{/user/block(id=${sporstman.getId()})}">Block</a></span>
        </td>
        <td><a th:href="@{/user(id=${sporstman.getId()})}">Details</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>