
<div class="pure-menu pure-menu-horizontal" style="height: 8%" xmlns:th="http://thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="pure-menu pure-menu-horizontal">

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a th:href="@{/}" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a th:href="@{/about}" class="pure-menu-link">About Us</a></li>
        <li class="pure-menu-item"><a th:href="@{/contactUs}" class="pure-menu-link">Contact Us</a></li>
        <li class="pure-menu-item"><a th:href="@{/users}" class="pure-menu-link">Users</a></li>
        <li class="pure-menu-item"><a sec:authorize="hasAnyRole('ADMINISTRATOR','CONFIRMED','SIMPLY')" th:href="@{/user}" class="pure-menu-link">My Account</a></li>
        <li class="pure-menu-item"><a sec:authorize="hasAnyRole('ADMINISTRATOR','CONFIRMED')" th:href="@{/ownEvents}" class="pure-menu-link">My Creations</a></li>
        <li class="pure-menu-item"><a sec:authorize="hasAnyRole('ADMINISTRATOR','CONFIRMED')" th:href="@{/create}" class="pure-menu-link">Create Events</a></li>
        <li class="pure-menu-item"><a sec:authorize="hasAnyRole('ADMINISTRATOR')" th:href="@{/manage}" class="pure-menu-link">Managing Page</a></li>
        <li class="pure-menu-item"><a sec:authorize="!isAuthenticated()" th:href="@{/signIn}" class="pure-menu-link">SignIn</a></li>
        <li class="pure-menu-item"><a sec:authorize="!isAuthenticated()" th:href="@{/signUp}" class="pure-menu-link">SignUp</a></li>
        <li class="pure-menu-item"><a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="pure-menu-link">Logout</a></li>
    </ul>
    </div>
</div>
